{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 52",
          "FireFox >= 48",
          "Safari >= 7",
          "Explorer 11",
          "last 4 Edge versions"
        ]
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}