.StatusIcon {
  display: inline-block;
  overflow: hidden;
  width: 0.5em;
  height: 0.5em;
  vertical-align: baseline;
  padding: 0.3em;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
}
