.RoomOverviewCardDesktopActions {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  &__primary {
    flex: 1 1 auto;
  }

  &__tertiary {
    flex: 1 1 auto;
    margin-left: $grid * 2;
    text-align: right;
  }
}
