.PropertyFooterAwards {
  display: none;

  @include screen-width-above($screen-sm-min) {
    display: block;
  }

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    @include screen-width-above($screen-lg-min) {
      margin-bottom: 48px;
    }
  }

  &__tail {
    display: flex;
    justify-content: center;
  }

  &__tail-award {
    margin-right: 16px;

    @include screen-width-above($screen-lg-min) {
      margin-right: 64px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
