.RoomOverviewCardRowSection {
  &__single-row-container {
    @include container;
  }

  .RoomOverviewCardRowSection__item {
    min-width: 300px;
    min-width: 70vw;
    min-width: calc((100vw - #{2 * $grid-xs-outside}) * 0.9);
    @include screen-min-sm {
      min-width: calc((100vw - #{2 * $grid-sm-outside}) * 0.9);
    }
    @include screen-min-md {
      min-width: 0;
      flex: 1 1 0;
    }
  }
}
